@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
:root{
    --blueberry:#4F86F7;
    --white:#ffff;
}
.frame-2 {
    align-items: flex-start;
    display: flex;
    height: 90px;
    padding: 18px 71px;
    /*width: 1578px;*/
}

.logo-navbar {
    align-items: center;
    display: flex;
    margin-left: 209px;
    min-width: 164px;
}

.overlap-group {
    align-items: flex-end;
    background-color: var(--blueberry);
    border-radius: 51px;
    display: flex;
    height: 41px;
    justify-content: flex-end;
    min-width: 32px;
    padding: 4px 9px;
}

.t {
    color: var(--white);
    font-family: 'Mulish',sans-serif;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0;
    min-height: 34px;
    width: 24px;
}

.place {
    color: #233248;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    margin-left: 12px;
    margin-top: 1px;
    min-height: 21px;
    min-width: 116px;
}

.top-nav {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 59px;
    margin-bottom: 3px;
    margin-left: 508px;
    min-width: 555px;
}

.place-1 {
    color:#1d113a;
    font-family: 'Mulish',sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    min-height: 23px;
    min-width: 53px;
}

.find-a-doctor {
    font-family: 'Mulish',sans-serif;
    letter-spacing: 0;
    margin-left: 38px;
    min-height: 23px;
    min-width: 112px;
    opacity: 0.5;
}

.apps {
    font-family: 'Mulish',sans-serif;
    letter-spacing: 0;
    margin-left: 38px;
    min-height: 23px;
    min-width: 46px;
    opacity: 0.5;
}

.testimonials {
    font-family: 'Mulish',sans-serif;
    letter-spacing: 0;
    margin-left: 38px;
    min-height: 23px;
    min-width: 106px;
    opacity: 0.5;
}

.about-us {
    font-family: 'Mulish',sans-serif;
    letter-spacing: 0;
    margin-left: 38px;
    min-height: 23px;
    opacity: 0.5;
}
